@use 'sass:color';
@import './_helper.sass';

.nav {
  @include flex;
  justify-content: space-between;
  align-items: center;
  @extend %navbar-styles;

  &-left {
    @include flex-row;
    &__sitename span {
      @include noselect;
      font-size: 1.8rem;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
  }
  &-right {
    @include flex;
    justify-content: flex-end;
    width: 100%;

    &__items {
      list-style: none;
      display: inline;

      & .item {
        float: left;

        &:not(:last-child) {
          margin-right: 10px;
        }

        & .btn {
          cursor: pointer;
          text-decoration: none;
          color: #333;
          font-weight: 700;
          padding: 10px 20px;

          background: #e6d6ff;

          &:hover {
            opacity: 0.85;
          }

          &:active {
            opacity: 1;
            box-shadow: none;
          }

          &.download {
            color: white;
            background: #2e2532;
          }
        }
      }
    }
  }
}

%navbar-styles {
  // background
  background: #da4453;
  background: -webkit-linear-gradient(to right, #89216b, #da4453);
  background: linear-gradient(to right, #89216b, #da4453);

  // other
  height: 60px;
  padding-left: 40px;
  padding-right: 20px;
}
